.wrapper {
  position: relative;
  margin: 0 auto 8px;
  width: 100%;
  max-width: 75vh;
  aspect-ratio: 1 / 1;
  background-color: rgb(71, 244, 8);
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.btn {
  font-size: 32px;
  display: block;
  background-color: black;
  color: whitesmoke;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 16px 48px;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  text-transform: uppercase;

  &:hover {
    background-color: darkslategray;
  }
}
