.header {
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  max-width: 75vh;

  .title {
    text-align: center;
  }

  .next {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    p {
      font-size: 32px;
    }

    .cross {
      font-size: 32px;
      font-family: "Roboto", Times, sans-serif;
      color: #105bf2;
    }

    .circle {
      font-size: 32px;
      font-family: "Roboto", Times, sans-serif;
      color: #48f210;
    }
  }
}
